//
// Comment IV 
//    Copyright 2016 Kary Foundation, Inc.
//    Author: Pouya Kary <k@karyfoundation.org>
//

@import "monospace-font.less";

//
// ─── COLORS ─────────────────────────────────────────────────────────────────────
//

	@tone1: 	#ffffff;
	@tone1-2:  	#eeeeee;
	@tone2: 	#cccccc;
	@tone3: 	#AEAEAE;
	@tone3-2: 	#858585;
	@tone3-3: 	#4F4F4F;
	@tone4: 	#424242;
	@tone5: 	#2E2E2E;
	@tone6: 	#171717;
	
	@focos-color: #005CFF;
	@hover-color: #9A9A9A;
	
//
// ─── SIZES ──────────────────────────────────────────────────────────────────────
//

	@header-height: 				50px;
	@header-width: 					100vw;
	@pad-padding: 					30px;
	@control-bar-width: 			230px;
	@border-round: 					5px;
	@button-height: 				28px;
	@font-size: 					14px;
	@control-bar-spacer-size: 		@pad-padding / 2;
	@text-box-border-size: 			3px;
	@focus-glow-radius: 			20px;
	@kary-horse-size-width: 		400px;
	@kary-horse-width-to-height: 	1.313343328335832;
	
//
// ─── FONTS ──────────────────────────────────────────────────────────────────────
//
	
	@mono-type-face: 'Menlo-Regular';
	@regular-type-face: 'avenir-light';
	
//
// ─── MAIN ELEMENTS ──────────────────────────────────────────────────────────────
//

	body {
		width: 100vw;
		height: 100vh;
		font-family: @regular-type-face;
		font-size: @font-size;
		padding: 0px;
		margin: 0px;
		background-color: @tone5;
		overflow: hidden;
		outline-color: transparent;
		outline-style: none;
		min-width: 1100px;
		min-height: 600px;
	}
	
	:focus {
		outline-color: transparent;
  		outline-style: none;
	}

//
// ─── KARY HORSE BACK ────────────────────────────────────────────────────────────
//

	#kary-horse-back {
		@kary-horse-sise-heigth: @kary-horse-size-width / @kary-horse-width-to-height;
		
		width: @kary-horse-size-width;
		height: @kary-horse-sise-heigth;
		
		position: fixed;
		@static-logo-heigth-change: ( @kary-horse-sise-heigth - @header-height ) / 2;
		top: calc( ~'50vh' - unit( @static-logo-heigth-change , px ) );
		@static-logo-width-change: ( @kary-horse-size-width + @control-bar-width ) / 2;
		right: calc( ~'50vw' - unit( @static-logo-width-change , px ) );
		
		background-image: url( "the-kary-horse-back.svg" );
		background-size: @kary-horse-size-width @kary-horse-sise-heigth;
	}
	
//
// ─── HEADER ─────────────────────────────────────────────────────────────────────
//

	header {
		height: @header-height;
		width: @header-width;
		background-color: @tone6;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
    	user-select: none;
	}

	.kary-header-logo {
		float: right;
		padding-top: 14px;
		padding-right: 20px;
	}

	.gerda-header-name {
		float: left;
		padding-top: 13px;
		padding-left: 13px;
	}
	
//
// ─── BUTTONS ────────────────────────────────────────────────────────────────────
//

	.button-zone {
		padding-left: @control-bar-spacer-size - @text-box-border-size;
		color: @tone2;
	}

//
// ─── TEXTBOX BASE ───────────────────────────────────────────────────────────────
//
	
	.text-box-monofont {
		font-family: @mono-type-face;
	}

	.text-box-base {
		//float: left;
		background-color: @tone3-3;
		color: @tone2;
		
		@text-box-height: @button-height - @text-box-border-size;
		height: @text-box-height;
		margin: @text-box-border-size;
		margin-bottom: @text-box-border-size * 3;
		border-radius: ( @text-box-height / 2 ) + 2 * @text-box-border-size ;
		
		@padding-text-box: ( @button-height / 2 ) - 3px ;
		padding-left: @padding-text-box;
		padding-right: @padding-text-box;
		padding-bottom: @text-box-border-size;
		padding-top: 0px;
		
		border: none;
		font-size: @font-size;
		
		transition-duration: 0.5s
	}
	
	.text-box-base:hover {
		background-color: @tone3-2;
		color: @tone1;
	}
	
	.text-box-base:active,
	.text-box-base:focus {
		background-color: @tone1;
		color: black;
		border: none;
		box-shadow: 0 0 @focus-glow-radius @hover-color;
	}
	
//
// ─── TEXT BOX BUTTON EXTENSIONS ─────────────────────────────────────────────────
//

	.text-box-button-extention {
		float: left;
		padding-top: 1px;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
		width: ( @control-bar-width - @pad-padding - 3 * @border-round ) / 3;
		height: 24px;
		display: block;
	}
	
// ────────────────────────────────────────────────────────────────────────────────

	.button-spacer {
		height: ( @pad-padding / 2 ) - 3 * @text-box-border-size;
	}

//
// ─── CONTAINER ──────────────────────────────────────────────────────────────────
//
	
	#container {
		width: @header-width;
		height: calc( ~'100vh' - unit( @header-height , px ) );
		padding: @pad-padding;
	}
	
	.containerChildern {
		background-color: @tone4;
		border-radius: @border-round;
		overflow: hidden;
	}

//
// ─── CONTROL BAR ROWS ───────────────────────────────────────────────────────────
//
	
	.controlBarRows {
		width: @control-bar-width - @pad-padding;
		margin-right: @pad-padding / 2;
		margin-left: @pad-padding / 2;
	}
	
	.control-bar-spacer {
		width: @control-bar-width;
		height: @control-bar-spacer-size;
	}

//
// ─── CONTROL BAR TITLE ──────────────────────────────────────────────────────────
//

	.controlBarTitleTop {
		border-top-left-radius: @border-round;
		border-top-right-radius: @border-round;
	}
	
	@control-bar-padding: 7px;
	
	.controlBarTitle {
		color: @tone3;
		background-color: @tone3-3;
		width: @control-bar-width - ( 2 * @control-bar-padding );
		padding: @control-bar-padding;
		letter-spacing: 1.2;
	}
	
//
// ─── CHOOSE BOX ─────────────────────────────────────────────────────────────────
//

	#commentformatbox {
		padding: @border-round;
		height: @button-height;
		
		@comment-format-left-right-padding: ( @button-height / 2 ) - @border-round;
		padding-left: @comment-format-left-right-padding;
		padding-right: @button-height / 2;
		padding-bottom: 7px;


		font-size: @font-size; 
		
		-webkit-appearance: none;
		-moz-appearance:none;
		appearance: none;
	}

//
// ─── CONTROL BAR ────────────────────────────────────────────────────────────────
//

	#control-bar {
		float: left;
		width: @control-bar-width;
		height: calc( ~'100vh' - unit( ( @header-height + 2 * @pad-padding ) , px ) );
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
    	user-select: none;
	}
	
//
// ─── VIEW ───────────────────────────────────────────────────────────────────────
//

	#view {
		float: left;
		margin-left: @pad-padding;
		width: calc( ~'100vw' - unit( @control-bar-width + 3 * @pad-padding, px ) );
		height: calc( ~'100vh' - unit( ( @header-height + 2 * @pad-padding ) , px ) );
	}
	
//
// ─── COMMENT BOX ────────────────────────────────────────────────────────────────
//
	
	@comment-box-padding: @pad-padding / 2;
	@copy-icon-size: 40px;
	
	.comment-box {
		position: relative;
		margin: @pad-padding;
		width: calc( ~'100vw' - unit( @control-bar-width + 6 * @pad-padding, px ) );
		border-radius: @border-round;
		background-color: #5B5B5B;
		color: @tone2;
		overflow-x: hidden;
		padding: @comment-box-padding;
		font-family: @mono-type-face;
		font-size: @font-size - 2px;
	}

//
// ─── BOX COPY ICON ──────────────────────────────────────────────────────────────
//

	.copy-box-icon {
		position: absolute;
		top: 0;
		right: @comment-box-padding;
		width: @copy-icon-size;
		height: @copy-icon-size;
	}
	
	.copy-box-icon-image-background {
		width: @copy-icon-size;
		height: @copy-icon-size;
		background-image: url("copy-icon.svg");
		background-size: @copy-icon-size @copy-icon-size;
	}

//
// ─── TYPEFACE ───────────────────────────────────────────────────────────────────
//

	@font-face {
		font-family: "avenir-light";
		src: url("avenir-light.eot");
		src: url("venir-light.eot?#iefix") format("embedded-opentype"), url("avenir-light.woff") format("woff"), url("avenir-light.ttf") format("truetype"), url("avenir-light.svg#avenir-light") format("svg");
		font-weight: normal;
		font-style: normal;
	}

// ────────────────────────────────────────────────────────────────────────────────